/* View pages */
:lang(en) .i18n-content:after {content: "Content"}
:lang(en) .i18n-documentation:after {content: "Documentation"}
:lang(en) .i18n-purpose:after {content: "Purpose"}
:lang(en) .i18n-properties:after {content: "Properties"}
:lang(en) .i18n-elements:after {content: "Elements"}
:lang(en) .i18n-relationships:after {content: "Relationships"}
:lang(en) .i18n-key:after {content: "Key"}
:lang(en) .i18n-value:after {content: "Value"}
:lang(en) .i18n-name:after {content: "Name"}
:lang(en) .i18n-type:after {content: "Type"}
:lang(en) .i18n-source:after {content: "Source"}
:lang(en) .i18n-target:after {content: "Target"}
:lang(en) .i18n-query:after {content: "Query"}

/* element panel */
:lang(en) .i18n-empty_element_message:after {content: "Select an element in the model tree or in a view to show its details here"}
:lang(en) .i18n-relation-source:after {content: "Source:"}
:lang(en) .i18n-relation-target:after {content: "Target:"}

/* ViewPoints (com.archimatetool.editor.model.viewpoints.IViewpoint) */
:lang(en) .i18n-viewpoint-:after {content: "No Viewpoint"}
:lang(en) .i18n-viewpoint-application_cooperation:after {content: "Application Cooperation"}
:lang(en) .i18n-viewpoint-application_usage:after {content: "Application Usage"}
:lang(en) .i18n-viewpoint-business_process_cooperation:after {content: "Business Process Cooperation"}
:lang(en) .i18n-viewpoint-capability:after {content: "Capability"}
:lang(en) .i18n-viewpoint-goal_realization:after {content: "Goal Realization"}
:lang(en) .i18n-viewpoint-implementation_deployment:after {content: "Implementation and Deployment"}
:lang(en) .i18n-viewpoint-implementation_migration:after {content: "Implementation and Migration"}
:lang(en) .i18n-viewpoint-information_structure:after {content: "Information Structure"}
:lang(en) .i18n-viewpoint-layered:after {content: "Layered"}
:lang(en) .i18n-viewpoint-migration:after {content: "Migration"}
:lang(en) .i18n-viewpoint-motivation:after {content: "Motivation"}
:lang(en) .i18n-viewpoint-organization:after {content: "Organization"}
:lang(en) .i18n-viewpoint-outcome_realization:after {content: "Outcome Realization"}
:lang(en) .i18n-viewpoint-physical:after {content: "Physical"}
:lang(en) .i18n-viewpoint-product:after {content: "Product"}
:lang(en) .i18n-viewpoint-project:after {content: "Project"}
:lang(en) .i18n-viewpoint-requirements_realization:after {content: "Requirements Realization"}
:lang(en) .i18n-viewpoint-resource:after {content: "Resource"}
:lang(en) .i18n-viewpoint-service_realization:after {content: "Service Realization"}
:lang(en) .i18n-viewpoint-stakeholder:after {content: "Stakeholder"}
:lang(en) .i18n-viewpoint-strategy:after {content: "Strategy"}
:lang(en) .i18n-viewpoint-technology:after {content: "Technology"}
:lang(en) .i18n-viewpoint-technology_usage:after {content: "Technology Usage"}
:lang(en) .i18n-viewpoint-value_stream:after {content: "Value Stream"}


/* Elements (Class.SimpleName from com.archimatetool.model) */
:lang(en) .i18n-elementtype-ArchimateModel:after {content: "Model"}
:lang(en) .i18n-elementtype-AccessRelationship:after {content: "Access"}
:lang(en) .i18n-elementtype-AggregationRelationship:after {content: "Aggregation"}
:lang(en) .i18n-elementtype-ApplicationCollaboration:after {content: "Application Collaboration"}
:lang(en) .i18n-elementtype-ApplicationComponent:after {content: "Application Component"}
:lang(en) .i18n-elementtype-ApplicationEvent:after {content: "Application Event"}
:lang(en) .i18n-elementtype-ApplicationFunction:after {content: "Application Function"}
:lang(en) .i18n-elementtype-ApplicationInteraction:after {content: "Application Interaction"}
:lang(en) .i18n-elementtype-ApplicationInterface:after {content: "Application Interface"}
:lang(en) .i18n-elementtype-ApplicationProcess:after {content: "Application Process"}
:lang(en) .i18n-elementtype-ApplicationService:after {content: "Application Service"}
:lang(en) .i18n-elementtype-Artifact:after {content: "Artifact"}
:lang(en) .i18n-elementtype-Assessment:after {content: "Assessment"}
:lang(en) .i18n-elementtype-AssignmentRelationship:after {content: "Assignment"}
:lang(en) .i18n-elementtype-AssociationRelationship:after {content: "Association"}
:lang(en) .i18n-elementtype-BusinessActor:after {content: "Business Actor"}
:lang(en) .i18n-elementtype-BusinessCollaboration:after {content: "Business Collaboration"}
:lang(en) .i18n-elementtype-BusinessEvent:after {content: "Business Event"}
:lang(en) .i18n-elementtype-BusinessFunction:after {content: "Business Function"}
:lang(en) .i18n-elementtype-BusinessInteraction:after {content: "Business Interaction"}
:lang(en) .i18n-elementtype-BusinessInterface:after {content: "Business Interface"}
:lang(en) .i18n-elementtype-BusinessObject:after {content: "Business Object"}
:lang(en) .i18n-elementtype-BusinessProcess:after {content: "Business Process"}
:lang(en) .i18n-elementtype-BusinessRole:after {content: "Business Role"}
:lang(en) .i18n-elementtype-BusinessService:after {content: "Business Service"}
:lang(en) .i18n-elementtype-Capability:after {content: "Capability"}
:lang(en) .i18n-elementtype-CommunicationNetwork:after {content: "Communication Network"}
:lang(en) .i18n-elementtype-CompositionRelationship:after {content: "Composition"}
:lang(en) .i18n-elementtype-Constraint:after {content: "Constraint"}
:lang(en) .i18n-elementtype-CourseOfAction:after {content: "Course of Action"}
:lang(en) .i18n-elementtype-Contract:after {content: "Contract"}
:lang(en) .i18n-elementtype-DataObject:after {content: "Data Object"}
:lang(en) .i18n-elementtype-Deliverable:after {content: "Deliverable"}
:lang(en) .i18n-elementtype-Device:after {content: "Device"}
:lang(en) .i18n-elementtype-DistributionNetwork:after {content: "Distribution Network"}
:lang(en) .i18n-elementtype-Driver:after {content: "Driver"}
:lang(en) .i18n-elementtype-Equipment:after {content: "Equipment"}
:lang(en) .i18n-elementtype-Facility:after {content: "Facility"}
:lang(en) .i18n-elementtype-FlowRelationship:after {content: "Flow"}
:lang(en) .i18n-elementtype-Gap:after {content: "Gap"}
:lang(en) .i18n-elementtype-Goal:after {content: "Goal"}
:lang(en) .i18n-elementtype-Grouping:after {content: "Grouping"}
:lang(en) .i18n-elementtype-ImplementationEvent:after {content: "Implementation Event"}
:lang(en) .i18n-elementtype-InfluenceRelationship:after {content: "Influence"}
:lang(en) .i18n-elementtype-Junction:after {content: "Junction"}
:lang(en) .i18n-elementtype-Location:after {content: "Location"}
:lang(en) .i18n-elementtype-Material:after {content: "Material"}
:lang(en) .i18n-elementtype-Meaning:after {content: "Meaning"}
:lang(en) .i18n-elementtype-Node:after {content: "Node"}
:lang(en) .i18n-elementtype-Outcome:after {content: "Outcome"}
:lang(en) .i18n-elementtype-Path:after {content: "Path"}
:lang(en) .i18n-elementtype-Plateau:after {content: "Plateau"}
:lang(en) .i18n-elementtype-Principle:after {content: "Principle"}
:lang(en) .i18n-elementtype-Product:after {content: "Product"}
:lang(en) .i18n-elementtype-RealizationRelationship:after {content: "Realization"}
:lang(en) .i18n-elementtype-Representation:after {content: "Representation"}
:lang(en) .i18n-elementtype-Requirement:after {content: "Requirement"}
:lang(en) .i18n-elementtype-Resource:after {content: "Resource"}
:lang(en) .i18n-elementtype-ServingRelationship:after {content: "Serving"}
:lang(en) .i18n-elementtype-SpecializationRelationship:after {content: "Specialization"}
:lang(en) .i18n-elementtype-Stakeholder:after {content: "Stakeholder"}
:lang(en) .i18n-elementtype-SystemSoftware:after {content: "System Software"}
:lang(en) .i18n-elementtype-TechnologyCollaboration:after {content: "Technology Collaboration"}
:lang(en) .i18n-elementtype-TechnologyEvent:after {content: "Technology Event"}
:lang(en) .i18n-elementtype-TechnologyFunction:after {content: "Technology Function"}
:lang(en) .i18n-elementtype-TechnologyInteraction:after {content: "Technology Interaction"}
:lang(en) .i18n-elementtype-TechnologyInterface:after {content: "Technology Interface"}
:lang(en) .i18n-elementtype-TechnologyObject:after {content: "Technology Object"}
:lang(en) .i18n-elementtype-TechnologyProcess:after {content: "Technology Process"}
:lang(en) .i18n-elementtype-TechnologyService:after {content: "Technology Service"}
:lang(en) .i18n-elementtype-TriggeringRelationship:after {content: "Triggering"}
:lang(en) .i18n-elementtype-Value:after {content: "Value"}
:lang(en) .i18n-elementtype-ValueStream:after {content: "Value Stream"}
:lang(en) .i18n-elementtype-WorkPackage:after {content: "Work Package"}

/* Other Graphical Objects */
:lang(en) .i18n-elementtype-DiagramModelGroup:after {content: "Group"}
:lang(en) .i18n-elementtype-DiagramModelNote:after {content: "Note"}
:lang(en) .i18n-elementtype-SketchModel:after {content: "Sketch"}
:lang(en) .i18n-elementtype-SketchModelActor:after {content: "Actor"}
:lang(en) .i18n-elementtype-SketchModelSticky:after {content: "Sticky"}
:lang(en) .i18n-elementtype-CanvasModel:after {content: "Canvas"}
:lang(en) .i18n-elementtype-CanvasModelBlock:after {content: "Block"}
:lang(en) .i18n-elementtype-CanvasModelSticky:after {content: "Sticky"}
:lang(en) .i18n-elementtype-CanvasModelImage:after {content: "Image"}


/* Model Tree */
:lang(en) .i18n-modeltree:after {content: "Model Tree"}
:lang(en) .i18n-model_content:after {content: "Model Content"}
:lang(en) .i18n-strategy:after {content: "Strategy"}
:lang(en) .i18n-business_layer:after {content: "Business"}
:lang(en) .i18n-application_layer:after {content: "Application"}
:lang(en) .i18n-technology_layer:after {content: "Technology & Physical"}
:lang(en) .i18n-motivation:after {content: "Motivation"}
:lang(en) .i18n-implementation:after {content: "Implementation & Migration"}
:lang(en) .i18n-connectors:after {content: "Other"}
:lang(en) .i18n-relations:after {content: "Relations"}
:lang(en) .i18n-views:after {content: "Views"}

/* Modal Dialogs */
:lang(en) .i18n-hint:after {content: "Hint"}
:lang(en) .i18n-close:after {content: "Close"}
:lang(en) .i18n-about:after {content: "About"}
:lang(en) .i18n-about-pluginname:after {content: "Archi HTML Report plugin"}
:lang(en) .i18n-about-pluginversion:after {content: "Version 1.2.0"}
:lang(en) .i18n-about-plugintext1:after {content: "This plugin has been developed by Jean-Baptiste Sarrodie, Quentin Varquet and Phil Beauvoir."}
:lang(en) .i18n-about-plugintext2:after {content: "This document has been created using Archi®. Archi® is a free, open source, cross-platform tool to create ArchiMate models and is targeted toward all levels of Enterprise Architects and Modellers. It provides a low cost to entry solution to users who may be making their first steps in the ArchiMate modelling language, or who are looking for a free, cross-platform ArchiMate modelling tool for their company or institution and wish to engage with the language within a TOGAF® or other Enterprise Architecture framework."}
:lang(en) .i18n-about-plugintext3:after {content: "is a registered trademark of Phillip Beauvoir."}
