<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension-point id="exportHandler" name="Export Handler" schema="schema/exportHandler.exsd"/>
   <extension-point id="importHandler" name="Import Handler" schema="schema/importHandler.exsd"/>
   <extension-point id="labelProvider" name="Label Provider" schema="schema/labelProvider.exsd"/>
   <extension-point id="diagramEditorFactory" name="Diagram Editor Factory" schema="schema/diagramEditorFactory.exsd"/>
   <extension
         id="app"
         name="%appName"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="uk.ac.bolton.archimate.editor.Application">
         </run>
      </application>
   </extension>

	<extension point="org.eclipse.core.runtime.products" id="product">
		<product
        application="uk.ac.bolton.archimate.editor.app"
        name="%appName">
     <property
           name="appName"
           value="%appName"/>
     <property
           name="aboutText"
           value="%aboutText"/>
     <property
           name="aboutImage"
           value="img/app-128.png"/>
     <property
           name="windowImages"
           value="img/app-16.png,img/app-32.png,img/app-48.png,img/app-64.png,img/app-128.png"/>
     <property
           name="preferenceCustomization"
           value="plugin_customization.ini">
     </property>
      </product>
	</extension>
	
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.bolton.archimate.editor.perspectives.MainPerspective"
            id="uk.ac.bolton.archimate.editor.perspectiveMain"
            name="Main">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.bolton.archimate.editor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.ac.bolton.archimate.editor.preferences.DiagramPreferencePage"
            id="uk.ac.bolton.archimate.editor.prefsDiagram"
            name="%prefsDiagram">
         <keywordReference
               id="keywords.prefsDiagram">
         </keywordReference>
      </page>
      <page
            class="uk.ac.bolton.archimate.editor.preferences.DiagramFiguresPreferencePage"
            id="uk.ac.bolton.archimate.editor.prefsDiagramFigures"
            name="%prefsDiagramFigures">
         <keywordReference
               id="keywords.prefsFigures">
         </keywordReference>
      </page>
      <page
            class="uk.ac.bolton.archimate.editor.preferences.GeneralPreferencePage"
            id="uk.ac.bolton.archimate.editor.prefsGeneral"
            name="%prefsGeneral">
         <keywordReference
               id="keywords.prefsGeneral">
         </keywordReference>
      </page>
      <page
            class="uk.ac.bolton.archimate.editor.preferences.ConnectionsPreferencePage"
            id="uk.ac.bolton.archimate.editor.prefsConnections"
            name="%prefsConnections">
         <keywordReference
               id="keywords.prefsConnections">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.bolton.archimate.editor.diagram.ArchimateDiagramEditor"
            contributorClass="uk.ac.bolton.archimate.editor.diagram.ArchimateDiagramEditorActionBarContributor"
            default="false"
            icon="img/diagram-16.png"
            id="uk.ac.bolton.archimate.editor.diagramEditor"
            name="%editorDiagram">
      </editor>
      <editor
            class="uk.ac.bolton.archimate.editor.diagram.sketch.SketchEditor"
            contributorClass="uk.ac.bolton.archimate.editor.diagram.sketch.SketchEditorActionBarContributor"
            default="false"
            icon="img/sketch-16.png"
            id="uk.ac.bolton.archimate.editor.sketchEditor"
            name="%editorSketch">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.bolton.archimate.editor.views.tree.TreeModelView"
            icon="img/models.gif"
            id="uk.ac.bolton.archimate.editor.treeModelView"
            name="%viewTreeModel"
            restorable="true">
      </view>
      <view
            class="uk.ac.bolton.archimate.editor.views.properties.CustomPropertiesView"
            icon="img/properties.gif"
            id="uk.ac.bolton.archimate.editor.propertiesView"
            name="%viewProperties"
            restorable="true">
      </view>
      <view
            class="uk.ac.bolton.archimate.editor.views.navigator.NavigatorView"
            icon="img/navigator-16.png"
            id="uk.ac.bolton.archimate.editor.navigatorView"
            name="%viewNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="uk.ac.bolton.archimate.editor"
            labelProvider="uk.ac.bolton.archimate.editor.propertysections.PropertiesLabelProvider">
         <propertyCategory
               category="main.category"></propertyCategory>
         <propertyCategory
               category="appearance.category">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="uk.ac.bolton.archimate.editor">
         <propertyTab
               category="main.category"
               id="main.tab"
               label="Main">
         </propertyTab>
         <propertyTab
               afterTab="main.tab"
               category="main.category"
               id="properties.tab"
               label="Properties">
         </propertyTab>
         <propertyTab
               afterTab="properties.tab"
               category="main.category"
               id="analysis.tab"
               label="Analysis">
         </propertyTab>
         <propertyTab
               category="appearance.category"
               id="appearance.tab"
               label="Appearance">
         </propertyTab>
         <propertyTab
               afterTab="appearance.tab"
               category="appearance.category"
               id="figure.tab"
               indented="true"
               label="Figure">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="uk.ac.bolton.archimate.editor">
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.ArchimateModelSection"
               id="archimateModelSection"
               tab="main.tab">
            <input
                  type="uk.ac.bolton.archimate.model.IArchimateModel">
            </input>
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.ArchimateElementSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.ArchimateElementSection$Filter"
               id="archimateElementSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.AccessRelationshipSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.AccessRelationshipSection$Filter"
               id="accessRelationshipSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.InterfaceElementSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.InterfaceElementSection$Filter"
               id="interfaceElementSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.DiagramModelSection"
               id="diagramModelSection"
               tab="main.tab">
            <input
                  type="uk.ac.bolton.archimate.model.IDiagramModel">
            </input>
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.AbstractDiagramPart">
            </input>
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.DiagramModelConnectionSection"
               id="diagramModelConnectionSection"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.model.IDiagramModel">
            </input>
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.AbstractDiagramPart">
            </input>
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.DiagramConnectionNameDocumentationSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.DiagramConnectionNameDocumentationSection$Filter"
               id="connectionNameSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               afterSection="archimateElementSection"
               class="uk.ac.bolton.archimate.editor.propertysections.DiagramConnectionSection"
               id="connectionAppearanceSection"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.connections.IDiagramConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="connectionAppearanceSection"
               class="uk.ac.bolton.archimate.editor.propertysections.DiagramConnectionLineStyleSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.DiagramConnectionLineStyleSection$Filter"
               id="connectionTypeSection"
               tab="appearance.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.GroupSection"
               id="groupSection"
               tab="main.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.diagram.GroupEditPart">
            </input>
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.TextContentSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.TextContentSection$Filter"
               id="textContentSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.UsedInViewsSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.UsedInViewsSection$Filter"
               id="usedInViewsSection"
               tab="analysis.tab">
         </propertySection>
         <propertySection
               afterSection="usedInViewsSection"
               class="uk.ac.bolton.archimate.editor.propertysections.UsedInRelationshipsSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.UsedInRelationshipsSection$Filter"
               id="usedInRelationshipsSection"
               tab="analysis.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.FillColorSection"
               id="fillColorSection"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.IColoredEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fillColorSection"
               class="uk.ac.bolton.archimate.editor.propertysections.FontSection"
               id="fontSection1"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.ITextEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="connectionTypeSection"
               class="uk.ac.bolton.archimate.editor.propertysections.FontSection"
               id="fontSection2"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.connections.IDiagramConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fontSection1"
               class="uk.ac.bolton.archimate.editor.propertysections.FontColorSection"
               id="fontColorSection1"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.ITextEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fontSection2"
               class="uk.ac.bolton.archimate.editor.propertysections.FontColorSection"
               id="fontColorSection2"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.connections.IDiagramConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fontColorSection2"
               class="uk.ac.bolton.archimate.editor.propertysections.LineColorSection"
               id="lineColorSection"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.connections.IDiagramConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fontSection2"
               class="uk.ac.bolton.archimate.editor.propertysections.TextAlignmentSection"
               id="textAlignmentSection"
               tab="appearance.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.editparts.ITextAlignedEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="textAlignmentSection"
               class="uk.ac.bolton.archimate.editor.propertysections.TextPositionSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.TextPositionSection$Filter"
               id="textPositionSection"
               tab="appearance.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.FolderSection"
               id="folderSection"
               tab="main.tab">
            <input
                  type="uk.ac.bolton.archimate.model.IFolder">
            </input>
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.SketchElementSection"
               id="sketchElementSection"
               tab="main.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.sketch.editparts.SketchActorEditPart">
            </input>
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.NameSection"
               id="nameSection"
               tab="main.tab">
            <input
                  type="uk.ac.bolton.archimate.editor.diagram.sketch.editparts.StickyEditPart">
            </input>
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.DiagramFigureTypeSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.DiagramFigureTypeSection$Filter"
               id="diagramFigureTypeSection"
               tab="figure.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.UserPropertiesSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.UserPropertiesSection$Filter"
               id="userPropertiesSection"
               tab="properties.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.ViewpointSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.ViewpointSection$Filter"
               id="viewpointSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.editor.propertysections.LockedSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.LockedSection$Filter"
               id="lockedSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               afterSection="fontColorSection1"
               class="uk.ac.bolton.archimate.editor.propertysections.BorderColorSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.BorderColorSection$Filter"
               id="borderColorSection"
               tab="appearance.tab">
         </propertySection>
         <propertySection
               afterSection="lockedSection"
               class="uk.ac.bolton.archimate.editor.propertysections.DiagramModelImageSection"
               filter="uk.ac.bolton.archimate.editor.propertysections.DiagramModelImageSection$Filter"
               id="imageSection"
               tab="main.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="uk.ac.bolton.archimate.editor.diagram.DiagramEditorInputFactory"
            id="uk.ac.bolton.archimate.editor.DiagramEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="Archi Key Configuration"
            id="uk.ac.bolton.archimate.editor.keybindings"
            name="Archi"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+M2+F8">
      </key>
      <key
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+F8">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.newModel"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+N">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.openModel"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+O">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.closeModel"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+M">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.duplicate"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+D">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.openDiagram"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+M2+O">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.showTreeModelView"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M3+1">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.showPropertiesView"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M3+2">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.showOutlineView"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M3+3">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.showNavigatorView"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M3+4">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.showPaletteView"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M3+5">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.exportAsImageToClipboard"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+M2+C">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.fullScreen"
            platform="win32"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="F11">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.fullScreen"
            platform="gtk"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="F11">
      </key>
      <key
            commandId="uk.ac.bolton.archimate.editor.action.fullScreen"
            platform="cocoa"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="org.eclipse.ui.edit.delete"
            platform="cocoa"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="BS">
      </key>
      <key
            commandId="org.eclipse.ui.help.dynamicHelp"
            platform="cocoa"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="uk.ac.bolton.archimate.editor.action.newModel"
            name="New Model">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.openModel"
            name="Open Model">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.closeModel"
            name="Close Model">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.duplicate"
            name="Duplicate">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.openDiagram"
            name="Open Diagram">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.showTreeModelView"
            name="Show Tree Model View">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.showPropertiesView"
            name="Show Properties View">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.showOutlineView"
            name="Show Outline View">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.showNavigatorView"
            name="Show Navigator View">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.showPaletteView"
            name="Show Palette View">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.exportAsImageToClipboard"
            name="Export As Image to Clipboard">
      </command>
      <command
            id="uk.ac.bolton.archimate.editor.action.fullScreen"
            name="Full Screen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="keywords.prefsGeneral"
            label="model tree files view filter search folder">
      </keyword>
      <keyword
            id="keywords.prefsFigures"
            label="figure view">
      </keyword>
      <keyword
            id="keywords.prefsDiagram"
            label="layout grid animate animation view palette font sketch background">
      </keyword>
      <keyword
            id="keywords.prefsConnections"
            label="magic connector connection nested animation relation implicit">
      </keyword>
   </extension>


</plugin>
