<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.8"?>
<plugin>
   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="org.opengroup.archimate.xmlexchange.XMLExchangeExportProvider"
            id="com.archimatetool.exchange.exportHandler"
            label="Model To Open Exchange File...">
      </exportHandler>
   </extension>
   <extension
         point="com.archimatetool.editor.importHandler">
      <importHandler
            class="org.opengroup.archimate.xmlexchange.XMLExchangeImportProvider"
            id="com.archimatetool.exchange.importHandler"
            label="Model From Open Exchange File...">
      </importHandler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.opengroup.archimate.xmlexchange.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
