<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="com.archimatetool.csv.export.CSVExportProvider"
            id="com.archimatetool.csv.exportHandler"
            label="%exportLabel">
      </exportHandler>
   </extension>
   <extension
         point="com.archimatetool.editor.importHandler">
      <importHandler2
            class="com.archimatetool.csv.importer.CSVImportProvider"
            id="com.archimatetool.csv.importHandler"
            label="CSV Data Into Model...">
      </importHandler2>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.archimatetool.csv.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
