<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:report_menu?after=report_ext">
         <command
               commandId="com.archimatetool.reports.command.HTML"
               id="com.archimatetool.reports.menuItem.HTML"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:tools">
         <separator
               name="com.archimatetool.reports.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.archimatetool.reports.command.PreviewHTML"
               id="com.archimatetool.reports.menuItem.PreviewHTML"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?after=com.archimatetool.hammer.popup.separator">
         <command
               commandId="com.archimatetool.reports.command.PreviewHTML"
               id="com.archimatetool.reports.popupmenu.PreviewHTML"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.archimatetool.reports.command.HTML"
            name="%action.label">
      </command>
      <command
            id="com.archimatetool.reports.command.PreviewHTML"
            name="Preview HTML Report">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.archimatetool.reports.html.HTMLReportHandler"
            commandId="com.archimatetool.reports.command.HTML">
         <enabledWhen>
            <reference
                  definitionId="com.archimatetool.modelEnabled">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.archimatetool.reports.html.PreviewHTMLReportHandler"
            commandId="com.archimatetool.reports.command.PreviewHTML">
         <enabledWhen>
            <reference
                  definitionId="com.archimatetool.modelEnabled">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
