<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:report_menu?before=report_ext">
         <command
               commandId="uk.ac.bolton.archimate.jasperreports.command.Jasper"
               id="uk.ac.bolton.archimate.jasperreports.menuItem.Jasper"
               label="Jasper..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.bolton.archimate.jasperreports.JasperReportsHandler"
            id="uk.ac.bolton.archimate.jasperreports.command.Jasper"
            name="Jasper">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>

</plugin>
