<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="com.archimatetool.example.MyExporter"
            id="com.archimatetool.import_export_example.exportHandler"
            label="Model To My Format...">
      </exportHandler>
   </extension>
   <extension
         point="com.archimatetool.editor.importHandler">
      <importHandler
            class="com.archimatetool.example.MyImporter"
            id="com.archimatetool.import_export_example.importHandler"
            label="My Model...">
      </importHandler>
   </extension>

</plugin>
