<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          name="Themes"
          point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="themes/archi/css/basic/basic.css"
            id="com.archimatetool.editor.theme.basic"
            label="%theme.basic">
      </theme>
      <theme
            basestylesheeturi="themes/eclipse/css/system/e4_system.css"
            id="org.eclipse.e4.ui.css.theme.e4_system"
            label="%theme.system">
      </theme>
		
    </extension>
   
	<extension
       name="StyleSheets"
       point="org.eclipse.e4.ui.css.swt.theme">
    <stylesheet
          uri="themes/eclipse/css/light/archi-light-styling.css">
       <themeid
             refid="org.eclipse.e4.ui.css.theme.e4_default">
       </themeid>
    </stylesheet>
    <stylesheet
          uri="themes/eclipse/css/dark/archi-dark-styling.css">
       <themeid
             refid="org.eclipse.e4.ui.css.theme.e4_dark">
       </themeid>
    </stylesheet>
    <stylesheet
          uri="themes/archi/css/common/archi-globalstyle.css">
       <themeid
             refid="org.eclipse.e4.ui.css.theme.e4_classic">
       </themeid>
    </stylesheet>
    <stylesheet
          uri="themes/eclipse/css/system/archi-light-styling.css">
       <themeid
             refid="org.eclipse.e4.ui.css.theme.e4_system">
       </themeid>
    </stylesheet>
    <stylesheet
          os="macosx"
          uri="themes/eclipse/css/system/archi-system-mac.css">
       <themeid
             refid="org.eclipse.e4.ui.css.theme.e4_system">
       </themeid>
    </stylesheet>
	</extension>
 <extension
       point="org.eclipse.ui.themes">
    <themeElementCategory
          id="com.archimatetool.editor.themes"
          label="%themeCategory.archi"
          parentId="org.eclipse.ui.themes.CssTheme">
    </themeElementCategory>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="org.eclipse.gef.PALETTE_BACKGROUND"
          label="%PALETTE_BACKGROUND"
          value="255,255,255">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="org.eclipse.gef.PALETTE_LABEL_FOREGROUND"
          label="%PALETTE_LABEL_FOREGROUND"
          value="0,0,0">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="org.eclipse.gef.PALETTE_TOOLBAR_BACKGROUND"
          label="%PALETTE_TOOLBAR_BACKGROUND"
          value="245,245,245">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="org.eclipse.gef.PALETTE_TITLE_LABEL_FOREGROUND"
          label="%PALETTE_TITLE_LABEL_FOREGROUND"
          value="COLOR_LIST_FOREGROUND">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="org.eclipse.gef.PALETTE_TITLE_LABEL_BACKGROUND_START"
          label="%PALETTE_TITLE_LABEL_BACKGROUND_START"
          value="COLOR_LIST_BACKGROUND">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="org.eclipse.gef.PALETTE_TITLE_LABEL_BACKGROUND_END"
          label="%PALETTE_TITLE_LABEL_BACKGROUND_END"
          value="COLOR_WIDGET_BACKGROUND">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="org.eclipse.gef.PALETTE_ARROW_BUTTON_BACKGROUND"
          label="%PALETTE_ARROW_BUTTON_BACKGROUND"
          value="COLOR_LIST_BACKGROUND">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="org.eclipse.gef.PALETTE_ARROW_BUTTON_FOREGROUND"
          label="%PALETTE_ARROW_BUTTON_FOREGROUND"
          value="COLOR_WIDGET_DARK_SHADOW">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="com.archimatetool.editor.VIEW_BACKGROUND"
          label="%VIEW_BACKGROUND"
          value="255,255,255">
    </colorDefinition>
    <colorDefinition
          categoryId="com.archimatetool.editor.themes"
          id="com.archimatetool.editor.VISUALISER_BACKGROUND"
          label="%VISUALISER_BACKGROUND"
          value="255,255,255">
    </colorDefinition>
 </extension>
   
</plugin>
