<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="themes/archi/css/basic.css"
            id="com.archimatetool.editor.theme.basic"
            label="Basic">
      </theme>
		
    </extension>
   
	<extension
       point="org.eclipse.e4.ui.css.swt.theme">
		<theme
			basestylesheeturi="themes/eclipse/css/e4_classic.css"
			id="org.eclipse.e4.ui.css.theme.e4_classic"
			label="Classic">
		</theme>
		<theme
			basestylesheeturi="themes/eclipse/css/e4_default_gtk.css"
			id="org.eclipse.e4.ui.css.theme.e4_default"
			label="Light"
			os="linux">
		</theme>
		<theme
			basestylesheeturi="themes/eclipse/css/e4_default_mac.css"
			id="org.eclipse.e4.ui.css.theme.e4_default"
			label="Light"
			os="macosx">
		</theme>
        <theme
            basestylesheeturi="themes/eclipse/css/e4_default_win.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="Light"
            os="win32">
        </theme>
        <theme
            basestylesheeturi="themes/eclipse/css/e4-dark_win.css"
            id="org.eclipse.e4.ui.css.theme.e4_dark"
            label="Dark"
            os="win32">
        </theme>
        <theme
            basestylesheeturi="themes/eclipse/css/e4-dark_linux.css"
            id="org.eclipse.e4.ui.css.theme.e4_dark"
            label="Dark"
            os="linux">
        </theme>
        <theme
            basestylesheeturi="themes/eclipse/css/e4-dark_mac1013.css"
            id="org.eclipse.e4.ui.css.theme.e4_dark"
            label="Dark"
            os="macosx"
            os_version="10.11,10.12,10.13">
        </theme>
        <theme
            basestylesheeturi="themes/eclipse/css/e4-dark_mac.css"
            id="org.eclipse.e4.ui.css.theme.e4_dark"
            label="Dark"
            os="macosx">
        </theme>
        <theme
            basestylesheeturi="themes/eclipse/css/e4_system.css"
            id="org.eclipse.e4.ui.css.theme.e4_system"
            label="System">
        </theme>
	</extension>
   
</plugin>
