# If your git is configured for typical LF repos and you are not using this
# gitattributes file you may need to configure:
# git config core.fileMode false
# git config core.eol crlf
# git config core.autocrlf false

# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
# USING CRLF!!!
* text eol=crlf

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (CONVERTING TO CRLF!!!)
*.css           text eol=crlf
*.df            text eol=crlf
*.htm           text eol=crlf
*.html          text eol=crlf
*.java          text eol=crlf
*.js            text eol=crlf
*.json          text eol=crlf
*.jsp           text eol=crlf
*.jspf          text eol=crlf
*.properties    text eol=crlf
*.sh            text eol=crlf
*.svg           text eol=crlf
*.tld           text eol=crlf
*.txt           text eol=crlf
*.xml           text eol=crlf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.war           binary