<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension-point id="exportHandler" name="Export Handler" schema="schema/exportHandler.exsd"/>
   <extension-point id="importHandler" name="Import Handler" schema="schema/importHandler.exsd"/>
   <extension-point id="labelProvider" name="Label Provider" schema="schema/labelProvider.exsd"/>
   <extension-point id="diagramEditorFactory" name="Diagram Editor Factory" schema="schema/diagramEditorFactory.exsd"/>
   <extension-point id="compatibilityHandler" name="Model Compatibility Handler" schema="schema/compatibilityHandler.exsd"/>
   <extension-point id="imageExportProvider" name="Image Export Provider" schema="schema/imageExportProvider.exsd"/>
   <extension
         id="app"
         name="Archi"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.archimatetool.editor.Application">
         </run>
      </application>
   </extension>

	<extension point="org.eclipse.core.runtime.products" id="product">
		<product
        application="com.archimatetool.editor.app"
        name="Archi">
     <property
           name="appName"
           value="Archi"/>
     <property
           name="aboutText"
           value="%aboutText"/>
     <property
           name="aboutImage"
           value="img/about.png"/>
     <property
           name="windowImages"
           value="img/app-16.png,img/app-32.png,img/app-48.png,img/app-64.png,img/app-128.png"/>
     <property
           name="preferenceCustomization"
           value="plugin_customization.ini">
     </property>
      </product>
	</extension>
	
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.archimatetool.editor.perspectives.MainPerspective"
            id="uk.ac.bolton.archimate.editor.perspectiveMain"
            name="%perspective.name">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.archimatetool.editor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.archimatetool.editor.preferences.DiagramPreferencePage"
            id="com.archimatetool.editor.prefsDiagram"
            name="%prefsDiagram">
         <keywordReference
               id="keywords.prefsDiagram">
         </keywordReference>
      </page>
      <page
            class="com.archimatetool.editor.preferences.GeneralPreferencePage"
            id="com.archimatetool.editor.prefsGeneral"
            name="%prefsGeneral">
         <keywordReference
               id="keywords.prefsGeneral">
         </keywordReference>
      </page>
      <page
            class="com.archimatetool.editor.preferences.ConnectionsPreferencePage"
            id="com.archimatetool.editor.prefsConnections"
            name="%prefsConnections">
         <keywordReference
               id="keywords.prefsConnections">
         </keywordReference>
      </page>
      <page
            class="com.archimatetool.editor.preferences.ColoursFontsPreferencePage"
            id="com.archimatetool.editor.prefsColoursFonts"
            name="%prefsColoursFonts">
         <keywordReference
               id="keywords.prefsColoursFonts">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.archimatetool.editor.diagram.ArchimateDiagramEditor"
            contributorClass="com.archimatetool.editor.diagram.ArchimateDiagramEditorActionBarContributor"
            default="false"
            icon="img/diagram-16.png"
            id="uk.ac.bolton.archimate.editor.diagramEditor"
            name="%editorDiagram">
      </editor>
      <editor
            class="com.archimatetool.editor.diagram.sketch.SketchEditor"
            contributorClass="com.archimatetool.editor.diagram.sketch.SketchEditorActionBarContributor"
            default="false"
            icon="img/sketch-16.png"
            id="uk.ac.bolton.archimate.editor.sketchEditor"
            name="%editorSketch">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.editor.views.tree.TreeModelView"
            icon="img/models.gif"
            id="uk.ac.bolton.archimate.editor.treeModelView"
            name="%viewTreeModel"
            restorable="true">
      </view>
      <view
            class="com.archimatetool.editor.views.properties.CustomPropertiesView"
            icon="img/properties.gif"
            id="uk.ac.bolton.archimate.editor.propertiesView"
            name="%viewProperties"
            restorable="true">
      </view>
      <view
            class="com.archimatetool.editor.views.navigator.NavigatorView"
            icon="img/navigator-16.png"
            id="uk.ac.bolton.archimate.editor.navigatorView"
            name="%viewNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.archimatetool.editor"
            labelProvider="com.archimatetool.editor.propertysections.PropertiesLabelProvider">
         <propertyCategory
               category="main.category"></propertyCategory>
         <propertyCategory
               category="appearance.category">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.archimatetool.editor">
         <propertyTab
               category="main.category"
               id="main.tab"
               label="%propertyTab.label">
         </propertyTab>
         <propertyTab
               afterTab="main.tab"
               category="main.category"
               id="properties.tab"
               label="%propertyTab.label.0">
         </propertyTab>
         <propertyTab
               afterTab="properties.tab"
               category="main.category"
               id="analysis.tab"
               label="%propertyTab.label.1">
         </propertyTab>
         <propertyTab
               category="appearance.category"
               id="appearance.tab"
               label="%propertyTab.label.2">
         </propertyTab>
         <propertyTab
               afterTab="appearance.tab"
               category="appearance.category"
               id="figure.tab"
               indented="true"
               label="%propertyTab.label.3">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.archimatetool.editor">
         <propertySection
               class="com.archimatetool.editor.propertysections.ArchimateModelSection"
               id="archimateModelSection"
               tab="main.tab">
            <input
                  type="com.archimatetool.model.IArchimateModel">
            </input>
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.ArchimateElementSection"
               filter="com.archimatetool.editor.propertysections.ArchimateElementSection$Filter"
               id="archimateElementSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.AccessRelationshipSection"
               filter="com.archimatetool.editor.propertysections.AccessRelationshipSection$Filter"
               id="accessRelationshipSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.InterfaceElementSection"
               filter="com.archimatetool.editor.propertysections.InterfaceElementSection$Filter"
               id="interfaceElementSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.DiagramModelSection"
               id="diagramModelSection"
               tab="main.tab">
            <input
                  type="com.archimatetool.model.IDiagramModel">
            </input>
            <input
                  type="com.archimatetool.editor.diagram.editparts.AbstractDiagramPart">
            </input>
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.DiagramModelConnectionSection"
               id="diagramModelConnectionSection"
               tab="appearance.tab">
            <input
                  type="com.archimatetool.model.IDiagramModel">
            </input>
            <input
                  type="com.archimatetool.editor.diagram.editparts.AbstractDiagramPart">
            </input>
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.DiagramConnectionNameDocumentationSection"
               filter="com.archimatetool.editor.propertysections.DiagramConnectionNameDocumentationSection$Filter"
               id="connectionNameSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               afterSection="archimateElementSection"
               class="com.archimatetool.editor.propertysections.DiagramConnectionSection"
               id="connectionAppearanceSection"
               tab="appearance.tab">
            <input
                  type="com.archimatetool.editor.diagram.editparts.connections.IDiagramConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="connectionAppearanceSection"
               class="com.archimatetool.editor.propertysections.DiagramConnectionLineStyleSection"
               filter="com.archimatetool.editor.propertysections.DiagramConnectionLineStyleSection$Filter"
               id="connectionTypeSection"
               tab="appearance.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.GroupSection"
               id="groupSection"
               tab="main.tab">
            <input
                  type="com.archimatetool.editor.diagram.editparts.diagram.GroupEditPart">
            </input>
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.TextContentSection"
               filter="com.archimatetool.editor.propertysections.TextContentSection$Filter"
               id="textContentSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.UsedInViewsSection"
               filter="com.archimatetool.editor.propertysections.UsedInViewsSection$Filter"
               id="usedInViewsSection"
               tab="analysis.tab">
         </propertySection>
         <propertySection
               afterSection="usedInViewsSection"
               class="com.archimatetool.editor.propertysections.UsedInRelationshipsSection"
               filter="com.archimatetool.editor.propertysections.UsedInRelationshipsSection$Filter"
               id="usedInRelationshipsSection"
               tab="analysis.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.FillColorSection"
               id="fillColorSection"
               tab="appearance.tab">
            <input
                  type="com.archimatetool.editor.diagram.editparts.IColoredEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fillColorSection"
               class="com.archimatetool.editor.propertysections.FontSection"
               id="fontSection1"
               tab="appearance.tab">
            <input
                  type="com.archimatetool.editor.diagram.editparts.ITextEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="connectionTypeSection"
               class="com.archimatetool.editor.propertysections.FontSection"
               id="fontSection2"
               tab="appearance.tab">
            <input
                  type="com.archimatetool.editor.diagram.editparts.connections.IDiagramConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fontSection1"
               class="com.archimatetool.editor.propertysections.FontColorSection"
               id="fontColorSection1"
               tab="appearance.tab">
            <input
                  type="com.archimatetool.editor.diagram.editparts.ITextEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fontSection2"
               class="com.archimatetool.editor.propertysections.FontColorSection"
               id="fontColorSection2"
               tab="appearance.tab">
            <input
                  type="com.archimatetool.editor.diagram.editparts.connections.IDiagramConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="fontColorSection2"
               class="com.archimatetool.editor.propertysections.LineColorSection"
               filter="com.archimatetool.editor.propertysections.LineColorSection$Filter"
               id="lineColorSection"
               tab="appearance.tab">
         </propertySection>
         <propertySection
               afterSection="lineColorSection"
               class="com.archimatetool.editor.propertysections.TextAlignmentSection"
               id="textAlignmentSection"
               tab="appearance.tab">
            <input
                  type="com.archimatetool.editor.diagram.editparts.ITextAlignedEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="textAlignmentSection"
               class="com.archimatetool.editor.propertysections.TextPositionSection"
               filter="com.archimatetool.editor.propertysections.TextPositionSection$Filter"
               id="textPositionSection"
               tab="appearance.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.FolderSection"
               id="folderSection"
               tab="main.tab">
            <input
                  type="com.archimatetool.model.IFolder">
            </input>
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.SketchElementSection"
               id="sketchElementSection"
               tab="main.tab">
            <input
                  type="com.archimatetool.editor.diagram.sketch.editparts.SketchActorEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="diagramModelSection"
               class="com.archimatetool.editor.propertysections.SketchModelBackgroundSection"
               filter="com.archimatetool.editor.propertysections.SketchModelBackgroundSection$Filter"
               id="sketchModelBackgroundSection"
               tab="appearance.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.NameSection"
               id="nameSection"
               tab="main.tab">
            <input
                  type="com.archimatetool.editor.diagram.sketch.editparts.StickyEditPart">
            </input>
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.DiagramFigureTypeSection"
               filter="com.archimatetool.editor.propertysections.DiagramFigureTypeSection$Filter"
               id="diagramFigureTypeSection"
               tab="figure.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.UserPropertiesSection"
               filter="com.archimatetool.editor.propertysections.UserPropertiesSection$Filter"
               id="userPropertiesSection"
               tab="properties.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.ViewpointSection"
               filter="com.archimatetool.editor.propertysections.ViewpointSection$Filter"
               id="viewpointSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.editor.propertysections.LockedSection"
               filter="com.archimatetool.editor.propertysections.LockedSection$Filter"
               id="lockedSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               afterSection="fontColorSection1"
               class="com.archimatetool.editor.propertysections.BorderColorSection"
               filter="com.archimatetool.editor.propertysections.BorderColorSection$Filter"
               id="borderColorSection"
               tab="appearance.tab">
         </propertySection>
         <propertySection
               afterSection="lockedSection"
               class="com.archimatetool.editor.propertysections.DiagramModelImageSection"
               filter="com.archimatetool.editor.propertysections.DiagramModelImageSection$Filter"
               id="imageSection"
               tab="main.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.archimatetool.editor.diagram.DiagramEditorInputFactory"
            id="uk.ac.bolton.archimate.editor.DiagramEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="Archi Key Configuration"
            id="com.archimatetool.editor.keybindings"
            name="Archi"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+M2+F8">
      </key>
      <key
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+F8">
      </key>
      <key
            commandId="com.archimatetool.editor.action.newModel"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+N">
      </key>
      <key
            commandId="com.archimatetool.editor.action.openModel"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+O">
      </key>
      <key
            commandId="com.archimatetool.editor.action.closeModel"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+M">
      </key>
      <key
            commandId="com.archimatetool.editor.action.duplicate"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+D">
      </key>
      <key
            commandId="com.archimatetool.editor.action.openDiagram"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+M2+O">
      </key>
      <key
            commandId="com.archimatetool.editor.action.showTreeModelView"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M3+1">
      </key>
      <key
            commandId="com.archimatetool.editor.action.showPropertiesView"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M3+2">
      </key>
      <key
            commandId="com.archimatetool.editor.action.showOutlineView"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M3+3">
      </key>
      <key
            commandId="com.archimatetool.editor.action.showNavigatorView"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M3+4">
      </key>
      <key
            commandId="com.archimatetool.editor.action.showPaletteView"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M3+5">
      </key>
      <key
            commandId="com.archimatetool.editor.action.exportAsImageToClipboard"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+M2+C">
      </key>
      <key
            commandId="com.archimatetool.editor.action.fullScreen"
            platform="win32"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="F11">
      </key>
      <key
            commandId="com.archimatetool.editor.action.fullScreen"
            platform="gtk"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="F11">
      </key>
      <key
            commandId="com.archimatetool.editor.action.fullScreen"
            platform="cocoa"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="org.eclipse.ui.edit.delete"
            platform="cocoa"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="BS">
      </key>
      <key
            commandId="org.eclipse.ui.help.dynamicHelp"
            platform="cocoa"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.archimatetool.editor.action.newModel"
            name="%command.name">
      </command>
      <command
            id="com.archimatetool.editor.action.openModel"
            name="%command.name.0">
      </command>
      <command
            id="com.archimatetool.editor.action.closeModel"
            name="%command.name.1">
      </command>
      <command
            id="com.archimatetool.editor.action.duplicate"
            name="%command.name.2">
      </command>
      <command
            id="com.archimatetool.editor.action.openDiagram"
            name="%command.name.3">
      </command>
      <command
            id="com.archimatetool.editor.action.showTreeModelView"
            name="%command.name.4">
      </command>
      <command
            id="com.archimatetool.editor.action.showPropertiesView"
            name="%command.name.5">
      </command>
      <command
            id="com.archimatetool.editor.action.showOutlineView"
            name="%command.name.6">
      </command>
      <command
            id="com.archimatetool.editor.action.showNavigatorView"
            name="%command.name.7">
      </command>
      <command
            id="com.archimatetool.editor.action.showPaletteView"
            name="%command.name.8">
      </command>
      <command
            id="com.archimatetool.editor.action.exportAsImageToClipboard"
            name="%command.name.9">
      </command>
      <command
            id="com.archimatetool.editor.action.fullScreen"
            name="%command.name.10">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="keywords.prefsGeneral"
            label="%keyword.label">
      </keyword>
      <keyword
            id="keywords.prefsDiagram"
            label="%keyword.label.1">
      </keyword>
      <keyword
            id="keywords.prefsConnections"
            label="%keyword.label.2">
      </keyword>
      <keyword
            id="keywords.prefsRelations"
            label="%keyword.label.3">
      </keyword>
      <keyword
            id="keywords.prefsColoursFonts"
            label="%keyword.label.4">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_file?after=start">
         <command
               commandId="com.archimatetool.editor.action.newModel"
               icon="img/newfile.gif"
               id="com.archimatetool.menu.newDropdown"
               label="%command.label"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.archimatetool.menu.newDropdown">
         <command
               commandId="com.archimatetool.editor.action.newModel"
               icon="img/newfile.gif"
               id="com.archimatetool.menu.newModel"
               label="%command.label.0"
               style="push">
         </command>
         <separator
               name="com.archimatetool.menu.separatorNewDropdown"
               visible="false">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="com.archimatetool.editor.compatibilityHandler">
      <compatibilityHandler
            class="com.archimatetool.editor.model.compatibility.handlers.FixConnectionTextNames"
            id="com.archimatetool.editor.compatibility.connectionTextHandler">
      </compatibilityHandler>
   </extension>
   <extension
         point="com.archimatetool.editor.imageExportProvider">
      <imageExportProvider
            class="com.archimatetool.editor.diagram.ImageExportProvider"
            extensions="png"
            id="com.archimatetool.editor.pngImageExportProvider"
            label="PNG Image">
      </imageExportProvider>
      <imageExportProvider
            class="com.archimatetool.editor.diagram.ImageExportProvider"
            extensions="bmp"
            id="com.archimatetool.editor.bmpImageExportProvider"
            label="BMP Image">
      </imageExportProvider>
      <imageExportProvider
            class="com.archimatetool.editor.diagram.ImageExportProvider"
            extensions="jpg,jpeg"
            id="com.archimatetool.editor.jpegImageExportProvider"
            label="JPEG Image">
      </imageExportProvider>
   </extension>


</plugin>
