<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.archimatetool.canvas.CanvasEditor"
            contributorClass="com.archimatetool.canvas.CanvasEditorActionBarContributor"
            default="false"
            icon="img/canvas.png"
            id="com.archimatetool.canvas.canvasEditor"
            name="%editorCanvas">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.archimatetool.canvas.model.ICanvasPackage"
            genModel="model/canvas.genmodel"
            uri="http://www.archimatetool.com/archimate/canvas">
      </package>
      <package
            class="com.archimatetool.canvas.model.ICanvasPackage"
            genModel="model/canvas.genmodel"
            uri="http://www.bolton.ac.uk/archimate/canvas">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.archimatetool.canvas.model.util.CanvasResourceFactory"
            type="archicanvas">
      </parser>
   </extension>
   <extension
         point="com.archimatetool.editor.diagramEditorFactory">
      <diagramEditorFactory
            class="com.archimatetool.canvas.CanvasEditorFactory"
            id="com.archimatetool.canvas.canvasEditorFactory">
      </diagramEditorFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.archimatetool.editor">
         <propertySection
               afterSection="textContentSection"
               class="com.archimatetool.canvas.propertysections.NotesSection"
               filter="com.archimatetool.canvas.propertysections.NotesSection$Filter"
               id="notesSection"
               tab="main.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            class="com.archimatetool.canvas.NewCanvasExtensionContributionFactory"
            locationURI="popup:com.archimatetool.editor.treeModelView.new_menu?after=new_additions">
      </menuContribution>
      <menuContribution
            allPopups="true"
            class="com.archimatetool.canvas.SaveAsCanvasExtensionContributionFactory"
            locationURI="popup:com.archimatetool.editor.treeModelView?after=open">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="com.archimatetool.canvas.NewModelWithCanvasExtensionContributionFactory"
            locationURI="menu:new_menu?after=new_menu.ext">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="com.archimatetool.canvas.NewModelWithCanvasExtensionContributionFactory"
            locationURI="menu:com.archimatetool.menu.newDropdown?endof=com.archimatetool.menu.separatorNewDropdown">
      </menuContribution>
   </extension>
   <extension
         point="com.archimatetool.help.hints">
      <hint
            className="CanvasModel"
            file="help/hints/canvas_diagram.html"
            title="%hint.title">
      </hint>
      <hint
            className="CanvasModelBlock"
            file="help/hints/canvas_block.html"
            title="%hint.title.0">
      </hint>
      <hint
            className="CanvasModelImage"
            file="help/hints/canvas_image.html"
            title="%hint.title.1">
      </hint>
      <hint
            className="CanvasModelSticky"
            file="help/hints/canvas_sticky.html"
            title="%hint.title.2">
      </hint>
      <hint
            className="CanvasModelConnection"
            file="help/hints/canvas_connection.html"
            title="%hint.title.3">
      </hint>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.archimatetool.canvas.preferences.CanvasPreferencePage"
            id="com.archimatetool.canvas.preferences.CanvasPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.archimatetool.canvas.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.archimatetool.editor.objectUIProvider">
      <uiProvider
            class="com.archimatetool.canvas.factory.CanvasModelUIProvider"
            id="com.archimatetool.canvas.CanvasModelUIProvider">
      </uiProvider>
      <uiProvider
            class="com.archimatetool.canvas.factory.CanvasBlockUIProvider"
            id="com.archimatetool.canvas.CanvasBlockUIProvider">
      </uiProvider>
      <uiProvider
            class="com.archimatetool.canvas.factory.CanvasStickyUIProvider"
            id="com.archimatetool.canvas.CanvasStickyUIProvider">
      </uiProvider>
      <uiProvider
            class="com.archimatetool.canvas.factory.CanvasImageUIProvider"
            id="com.archimatetool.canvas.CanvasImageUIProvider">
      </uiProvider>
      <uiProvider
            class="com.archimatetool.canvas.factory.CanvasConnectionUIProvider"
            id="com.archimatetool.canvas.CanvasLineConnectionUIProvider">
      </uiProvider>
   </extension>

</plugin>
