<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.bolton.archimate.canvas.CanvasEditor"
            contributorClass="uk.ac.bolton.archimate.canvas.CanvasEditorActionBarContributor"
            default="false"
            icon="img/canvas-16.png"
            id="uk.ac.bolton.archimate.canvas.canvasEditor"
            name="%editorCanvas">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="uk.ac.bolton.archimate.canvas.model.ICanvasPackage"
            genModel="model/canvas.genmodel"
            uri="http://www.bolton.ac.uk/archimate/canvas">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="uk.ac.bolton.archimate.canvas.model.util.CanvasResourceFactory"
            type="archicanvas">
      </parser>
   </extension>
   <extension
         point="uk.ac.bolton.archimate.editor.diagramEditorFactory">
      <diagramEditorFactory
            class="uk.ac.bolton.archimate.canvas.CanvasEditorFactory"
            id="uk.ac.bolton.archimate.canvas.canvasEditorFactory">
      </diagramEditorFactory>
   </extension>
   <extension
         point="uk.ac.bolton.archimate.editor.labelProvider">
      <labelProvider
            class="uk.ac.bolton.archimate.canvas.CanvasLabelProvider"
            id="uk.ac.bolton.archimate.canvas.labelProvider">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="uk.ac.bolton.archimate.editor">
         <propertyTab
               afterTab="main.tab"
               category="main.category"
               id="hint.tab"
               indented="false"
               label="Hint">
         </propertyTab>
         <propertyTab
               afterTab="appearance.tab"
               category="appearance.category"
               id="image.tab"
               indented="true"
               label="Image">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="uk.ac.bolton.archimate.editor">
         <propertySection
               class="uk.ac.bolton.archimate.canvas.propertysections.IconSection"
               filter="uk.ac.bolton.archimate.canvas.propertysections.IconSection$Filter"
               id="iconSection"
               tab="image.tab">
         </propertySection>
         <propertySection
               class="uk.ac.bolton.archimate.canvas.propertysections.HintContentSection"
               filter="uk.ac.bolton.archimate.canvas.propertysections.HintContentSection$Filter"
               id="hintContentSection"
               tab="hint.tab">
         </propertySection>
         <propertySection
               afterSection="textContentSection"
               class="uk.ac.bolton.archimate.canvas.propertysections.NotesSection"
               filter="uk.ac.bolton.archimate.canvas.propertysections.NotesSection$Filter"
               id="notesSection"
               tab="main.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            class="uk.ac.bolton.archimate.canvas.NewCanvasExtensionContributionFactory"
            locationURI="popup:uk.ac.bolton.archimate.editor.treeModelView.new_menu">
      </menuContribution>
      <menuContribution
            allPopups="true"
            class="uk.ac.bolton.archimate.canvas.SaveAsCanvasExtensionContributionFactory"
            locationURI="popup:uk.ac.bolton.archimate.editor.treeModelView?after=open">
      </menuContribution>
   </extension>
   <extension
         point="uk.ac.bolton.archimate.help.hints">
      <hint
            class="uk.ac.bolton.archimate.canvas.model.ICanvasModel"
            file="help/hints/canvas_diagram.html"
            title="Canvas View">
      </hint>
      <hint
            class="uk.ac.bolton.archimate.canvas.model.ICanvasModelBlock"
            file="help/hints/canvas_block.html"
            title="Canvas Block">
      </hint>
      <hint
            class="uk.ac.bolton.archimate.canvas.model.ICanvasModelImage"
            file="help/hints/canvas_diagram.html"
            title="Canvas Image">
      </hint>
      <hint
            class="uk.ac.bolton.archimate.canvas.model.ICanvasModelSticky"
            file="help/hints/canvas_sticky.html"
            title="Canvas Sticky">
      </hint>
      <hint
            class="uk.ac.bolton.archimate.canvas.model.ICanvasModelConnection"
            file="help/hints/canvas_connection.html"
            title="Canvas Connection">
      </hint>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.ac.bolton.archimate.canvas.preferences.CanvasPreferencePage"
            id="uk.ac.bolton.archimate.canvas.preferences.CanvasPreferencePage"
            name="Canvas Toolkit">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.bolton.archimate.canvas.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
