<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.bolton.archimate.editor.importHandler">
      <importHandler
            class="uk.ac.bolton.archimate.bizzdesign.BiZZdesignImportManager"
            id="uk.ac.bolton.archimate.bizzdesign.importHandler"
            label="BiZZdesign Architect Model...">
      </importHandler>
   </extension>
   <extension
         point="uk.ac.bolton.archimate.editor.exportHandler">
      <exportHandler
            class="uk.ac.bolton.archimate.bizzdesign.BiZZdesignExporter"
            id="uk.ac.bolton.archimate.bizzdesign.exportHandler"
            label="Model To BiZZdesign Architect...">
      </exportHandler>
   </extension>

</plugin>
