<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>
   <extension-point id="compatibilityHandler" name="Archi Model Compatibility Handler" schema="schema/compatibilityHandler.exsd"/>
   <extension
         point="uk.ac.bolton.archimate.compatibility.compatibilityHandler">
      <compatibilityHandler
            class="uk.ac.bolton.archimate.compatibility.handlers.FixConnectionTextNames"
            id="uk.ac.bolton.archimate.compatibility.connectionTextHandler">
      </compatibilityHandler>
   </extension>
</plugin>
