<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="uk.ac.bolton.archimate.reports.actionSet"
            label="Reports"
            visible="true">
         <action
               class="uk.ac.bolton.archimate.reports.html.HTMLReportAction"
               id="uk.ac.bolton.archimate.reports.reportHTML"
               label="%action.label"
               menubarPath="file/report_menu/report_ext">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup>
      </startup>
   </extension>

</plugin>
