<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:report_menu?after=report_ext">
         <command
               commandId="uk.ac.bolton.archimate.reports.command.HTML"
               id="uk.ac.bolton.archimate.reports.menuItem.HTML"
               label="HTML..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.bolton.archimate.reports.html.HTMLReportHandler"
            id="uk.ac.bolton.archimate.reports.command.HTML"
            name="%action.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup>
      </startup>
   </extension>

</plugin>
