<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.archimatetool.editor.browser.BrowserEditor"
            contributorClass="com.archimatetool.editor.browser.BrowserEditorActionBarContributor"
            default="false"
            icon="img/browser.png"
            id="com.archimatetool.editor.browser.browserEditor"
            name="%editorBrowser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.archimatetool.editor.browser.BrowserEditorInputFactory"
            id="com.archimatetool.editor.browser.BrowserEditorInputFactory">
      </factory>
   </extension>

</plugin>
