<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=show_view_append">
         <command
               commandId="uk.ac.bolton.archimate.zest.action.showZestView"
               icon="img/icon.png"
               id="uk.ac.bolton.archimate.zest.menuitem.showZestView"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=append">
         <command
               commandId="uk.ac.bolton.archimate.zest.action.showZestView"
               icon="img/icon.png"
               id="uk.ac.bolton.archimate.zest.menuitem.showZestView"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.ac.bolton.archimate.zest.action.showZestView"
            schemeId="uk.ac.bolton.archimate.editor.keybindings"
            sequence="M3+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.bolton.archimate.zest.ShowZestViewHandler"
            id="uk.ac.bolton.archimate.zest.action.showZestView"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.bolton.archimate.zest.ZestView"
            icon="img/icon.png"
            id="uk.ac.bolton.archimate.zest.zestView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="uk.ac.bolton.archimate.zest.zestView"
               minimized="false"
               relationship="stack"
               relative="uk.ac.bolton.archimate.editor.propertiesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.bolton.archimate.zest.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
