/*******************************************************************************
 * Styling for Archi that over-rides some Eclipse stylings
 *******************************************************************************/

@import url("platform:/plugin/com.archimatetool.editor.themes/themes/archi/css/common/archi-globalstyle.css");

TabbedPropertyList {
    /* Default is too light */
    color   : #202020;  /* text color in the tab / tab area */
}