<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.bolton.archimate.editor.browser.BrowserEditor"
            contributorClass="uk.ac.bolton.archimate.editor.browser.BrowserEditorActionBarContributor"
            default="false"
            icon="img/browser-16.png"
            id="uk.ac.bolton.archimate.editor.browser.browserEditor"
            name="%editorBrowser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="uk.ac.bolton.archimate.editor.browser.BrowserEditorInputFactory"
            id="uk.ac.bolton.archimate.editor.browser.BrowserEditorInputFactory">
      </factory>
   </extension>

</plugin>
