<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.commandline.commandlineProvider">
      <commandlineProvider
            class="com.archimatetool.reports.commandline.HTMLReportProvider"
            description="Generate a HTML report from the current model"
            id="com.archimatetool.reports.commandlineProvider"
            name="HTML Reports">
      </commandlineProvider>
   </extension>

</plugin>
