<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Archi" sequenceNumber="46">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.16.0.v20181206-1055"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.16.0.v20181130-2106"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.sdk.ide" version="4.10.0.I20181206-0815"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
<repository location="http://download.eclipse.org/releases/2018-12"/>
</location>
</locations>
</target>
