<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Archi" sequenceNumber="45">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.15.0.v20180905-1732"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.15.0.v20180904-1442"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.sdk.ide" version="4.9.0.I20180906-0745"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
<repository location="http://download.eclipse.org/releases/2018-09"/>
</location>
</locations>
</target>
