<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Archi">
<locations>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
        <repository location="https://download.eclipse.org/eclipse/updates/4.18-I-builds/"/>
        <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
        <unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
        <repository location="https://download.eclipse.org/releases/2020-12"/>
        <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
        <unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
        <unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
    </location>
</locations>
</target>