<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="commandlineProvider" name="Command Line Provider" schema="schema/commandlineProvider.exsd"/>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.archimatetool.commandline.CentralScrutinizer">
         </run>
      </application>
   </extension>

</plugin>
