<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="commandlineProvider" name="Command Line Provider" schema="schema/commandlineProvider.exsd"/>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.archimatetool.commandline.CentralScrutinizer">
         </run>
      </application>
   </extension>
   <extension
         point="com.archimatetool.commandline.commandlineProvider">
      <commandlineProvider
            class="com.archimatetool.commandline.providers.LoadModelFromFileProvider"
            description="Load a model from file and set to the current model"
            id="com.archimatetool.commandline.loadModelFromFileProvider"
            name="Load Model">
      </commandlineProvider>
      <commandlineProvider
            class="com.archimatetool.commandline.providers.CreateEmptyModelProvider"
            description="Create an empty model and set to the current model (from optional template)"
            id="com.archimatetool.commandline.createEmptyModelProvider"
            name="Create Empty Model">
      </commandlineProvider>
      <commandlineProvider
            class="com.archimatetool.commandline.providers.SaveModelProvider"
            description="Save the current model to file"
            id="com.archimatetool.commandline.saveModelProvider"
            name="Save Model">
      </commandlineProvider>
   </extension>

</plugin>
