/*******************************************************************************
 * Styling for very basic theme
 *******************************************************************************/


.MTrimmedWindow {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.MPartStack {
    swt-simple: true; /* not curved tabs */
    padding: 0px;
    swt-shadow-visible: false;
}

TabbedPropertyTitle > CLabel {
    color: #505050;
}

TabbedPropertyTitle {
    swt-backgroundGradientStart-color:  #eaeaea;
    swt-backgroundGradientEnd-color:    #eaeaea;
    swt-backgroundBottomKeyline1-color: #eaeaea;
    swt-backgroundBottomKeyline2-color: #eaeaea;
}

/* Diagram FigureCanvas and Zest Graph backgrounds should always be white */
FigureCanvas.ArchiFigureCanvas,
Graph.ArchiGraph {
    background-color: #FFFFFF;
}

ThemesExtension { color-definition:
    '#org-eclipse-gef-PALETTE_BACKGROUND',
    '#org-eclipse-gef-PALETTE_TOOLBAR_BACKGROUND';
}

ColorDefinition#org-eclipse-gef-PALETTE_BACKGROUND {
    color: #FFFFFF;
}

ColorDefinition#org-eclipse-gef-PALETTE_TOOLBAR_BACKGROUND {
    color: #F5F5F5;
}
