<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.archimatetool.hammer.ShowValidatorViewHandler"
            id="com.archimatetool.hammer.command.showValidatorView"
            name="%command.name">
      </command>
      <command
            id="com.archimatetool.hammer.command.validate"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=show_view_append">
         <command
               commandId="com.archimatetool.hammer.command.showValidatorView"
               icon="img/icon.png"
               id="com.archimatetool.hammer.menuitem.showValidatorView"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=com.archimatetool.help.toolbaritem.showHintsView">
         <command
               commandId="com.archimatetool.hammer.command.showValidatorView"
               icon="img/icon.png"
               id="com.archimatetool.hammer.toolbaritem.showValidatorView"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?after=append_extensions">
         <command
               commandId="com.archimatetool.hammer.command.validate"
               id="com.archimatetool.hammer.popupmenu.validate"
               label="%command.name"
               style="push">
         </command>
         <separator
               name="com.archimatetool.hammer.popup.separator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:tools">
         <command
               commandId="com.archimatetool.hammer.command.validate"
               icon="img/icon.png"
               id="com.archimatetool.hammer.menuitem.validate"
               label="%command.name"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.archimatetool.hammer.command.showValidatorView"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M3+8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.hammer.view.ValidatorView"
            icon="img/icon.png"
            id="com.archimatetool.hammer.validatorView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.archimatetool.hammer.validatorView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.propertiesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.archimatetool.hammer.preferences.ValidatorPreferencePage"
            id="com.archimatetool.hammer.preferences.ValidatorPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.archimatetool.hammer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.archimatetool.hammer.ValidateHandler"
            commandId="com.archimatetool.hammer.command.validate">
         <enabledWhen>
            <reference
                  definitionId="com.archimatetool.modelEnabled">
            </reference>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
