/*******************************************************************************
 * Styling for Archi that over-rides some Eclipse stylings
 *******************************************************************************/

@import url("platform:/plugin/com.archimatetool.editor.themes/themes/archi/css/common/archi-globalstyle.css");

CTabFolder.active {
    /* Set at top and a tad brighter */
    swt-selected-tab-highlight: rgb(50, 114, 237);
    swt-selected-highlight-top: true;
}

/* Theme colors */

ColorDefinition#com-archimatetool-editor-VIEW_BACKGROUND {
    color: #6F6F6F;
}

ColorDefinition#com-archimatetool-editor-VISUALISER_BACKGROUND {
    color: #6F6F6F;
}

/* GEF Palette */

IEclipsePreferences#org-eclipse-ui-workbench:com-archimatetool-editor {
    preferences:
        'org.eclipse.gef.PALETTE_BACKGROUND=127,127,127'
        'org.eclipse.gef.PALETTE_TOOLBAR_BACKGROUND=111,111,111'
        'org.eclipse.gef.PALETTE_TITLE_BACKGROUND=64,64,64'
}

