<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension-point id="hints" name="Hints" schema="schema/hints.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.archimatetool.help.hints.ShowHintsViewHandler"
            id="com.archimatetool.help.command.showHintsView"
            name="%command.name">
      </command>
      <command
            defaultHandler="com.archimatetool.help.hints.ShowCheatSheetsHandler"
            id="com.archimatetool.help.command.showCheatSheets"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=show_view_append">
         <command
               commandId="com.archimatetool.help.command.showHintsView"
               icon="img/hint.png"
               id="com.archimatetool.help.menuitem.showHintsView"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=end">
         <command
               commandId="com.archimatetool.help.command.showHintsView"
               icon="img/hint.png"
               id="com.archimatetool.help.toolbaritem.showHintsView"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=additions">
         <command
               commandId="com.archimatetool.help.command.showCheatSheets"
               id="com.archimatetool.help.menuitem.showCheatSheets"
               label="%command.label.1"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.help.hints.HintsView"
            icon="img/hint.png"
            id="com.archimatetool.help.hintsView"
            name="%viewHints"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.archimatetool.help.hintsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="com.archimatetool.help.cheatsheets"
            name="%cheatsheet.category.name">
      </category>
      <cheatsheet
            category="com.archimatetool.help.cheatsheets"
            composite="false"
            contentFile="$nl$/cheatsheets/new_model.xml"
            id="com.archimatetool.help.cheatsheet1"
            name="%cheatsheet.name.1">
         <description>
            %cheatsheet.desc.1
         </description>
      </cheatsheet>
      <cheatsheet
            category="com.archimatetool.help.cheatsheets"
            composite="false"
            contentFile="$nl$/cheatsheets/create_map_view.xml"
            id="com.archimatetool.help.cheatsheet2"
            name="%cheatsheet.name.2">
         <description>
            %cheatsheet.desc.2
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="toc_resources.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.archimatetool.help.command.showHintsView"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M3+7">
      </key>
   </extension>
   <extension
         name="Elements"
         point="com.archimatetool.help.hints">
      <hint
            className="Junction"
            file="hints/junction.html"
            title="%hint.title.43">
      </hint>
      <hint
            className="ApplicationCollaboration"
            file="hints/application_collaboration.html"
            title="%hint.title.17">
      </hint>
      <hint
            className="ApplicationComponent"
            file="hints/application_component.html"
            title="%hint.title.16">
      </hint>
      <hint
            className="ApplicationEvent"
            file="hints/application_event.html"
            title="%hint.title.96">
      </hint>
      <hint
            className="ApplicationFunction"
            file="hints/application_function.html"
            title="%hint.title.20">
      </hint>
      <hint
            className="ApplicationInteraction"
            file="hints/application_interaction.html"
            title="%hint.title.21">
      </hint>
      <hint
            className="ApplicationInterface"
            file="hints/application_interface.html"
            title="%hint.title.18">
      </hint>
      <hint
            className="ApplicationProcess"
            file="hints/application_process.html"
            title="%hint.title.5">
      </hint>
      <hint
            className="ApplicationService"
            file="hints/application_service.html"
            title="%hint.title.22">
      </hint>
      <hint
            className="Artifact"
            file="hints/artifact.html"
            title="%hint.title.31">
      </hint>
      <hint
            className="Assessment"
            file="hints/assessment.html"
            title="%hint.title.48">
      </hint>
      <hint
            className="BusinessActor"
            file="hints/business_actor.html"
            title="%hint.title">
      </hint>
      <hint
            className="BusinessCollaboration"
            file="hints/business_collaboration.html"
            title="%hint.title.1">
      </hint>
      <hint
            className="BusinessInterface"
            file="hints/business_interface.html"
            title="%hint.title.2">
      </hint>
      <hint
            className="BusinessObject"
            file="hints/business_object.html"
            title="%hint.title.3">
      </hint>
      <hint
            className="BusinessProcess"
            file="hints/business_process.html"
            title="%hint.title.4">
      </hint>
      <hint
            className="BusinessRole"
            file="hints/business_role.html"
            title="%hint.title.0">
      </hint>
      <hint
            className="BusinessFunction"
            file="hints/business_function.html"
            title="%hint.title.6">
      </hint>
      <hint
            className="BusinessInteraction"
            file="hints/business_interaction.html"
            title="%hint.title.7">
      </hint>
      <hint
            className="BusinessEvent"
            file="hints/business_event.html"
            title="%hint.title.8">
      </hint>
      <hint
            className="BusinessService"
            file="hints/business_service.html"
            title="%hint.title.9">
      </hint>
      <hint
            className="Capability"
            file="hints/capability.html"
            title="%hint.title.93">
      </hint>
      <hint
            className="CommunicationNetwork"
            file="hints/communication_network.html"
            title="%hint.title.26">
      </hint>
      <hint
            className="Constraint"
            file="hints/constraint.html"
            title="%hint.title.51">
      </hint>
      <hint
            className="Contract"
            file="hints/contract.html"
            title="%hint.title.14">
      </hint>
      <hint
            className="CourseOfAction"
            file="hints/course_of_action.html"
            title="%hint.title.94">
      </hint>
      <hint
            className="DataObject"
            file="hints/data_object.html"
            title="%hint.title.19">
      </hint>
      <hint
            className="Deliverable"
            file="hints/deliverable.html"
            title="%hint.title.54">
      </hint>
      <hint
            className="Device"
            file="hints/device.html"
            title="%hint.title.24">
      </hint>
      <hint
            className="DistributionNetwork"
            file="hints/distribution_network.html"
            title="%hint.title.101">
      </hint>
      <hint
            className="Driver"
            file="hints/driver.html"
            title="%hint.title.47">
      </hint>
      <hint
            className="Equipment"
            file="hints/equipment.html"
            title="%hint.title.102">
      </hint>
      <hint
            className="Facility"
            file="hints/facility.html"
            title="%hint.title.103">
      </hint>
      <hint
            className="Gap"
            file="hints/gap.html"
            title="%hint.title.56">
      </hint>
      <hint
            className="Goal"
            file="hints/goal.html"
            title="%hint.title.49">
      </hint>
      <hint
            className="Grouping"
            file="hints/grouping.html"
            title="%hint.title.91">
      </hint>
      <hint
            className="ImplementationEvent"
            file="hints/implementation_event.html"
            title="%hint.title.105">
      </hint>
      <hint
            className="Location"
            file="hints/location.html"
            title="%hint.title.15">
      </hint>
      <hint
            className="Material"
            file="hints/material.html"
            title="%hint.title.104">
      </hint>
      <hint
            className="Meaning"
            file="hints/meaning.html"
            title="%hint.title.11">
      </hint>
      <hint
            className="Node"
            file="hints/node.html"
            title="%hint.title.23">
      </hint>
      <hint
            className="Outcome"
            file="hints/outcome.html"
            title="%hint.title.95">
      </hint>
      <hint
            className="Path"
            file="hints/path.html"
            title="%hint.title.27">
      </hint>
      <hint
            className="Plateau"
            file="hints/plateau.html"
            title="%hint.title.55">
      </hint>
      <hint
            className="Principle"
            file="hints/principle.html"
            title="%hint.title.52">
      </hint>
      <hint
            className="Product"
            file="hints/product.html"
            title="%hint.title.13">
      </hint>
      <hint
            className="Representation"
            file="hints/representation.html"
            title="%hint.title.10">
      </hint>
      <hint
            className="Requirement"
            file="hints/requirement.html"
            title="%hint.title.50">
      </hint>
      <hint
            className="Stakeholder"
            file="hints/stakeholder.html"
            title="%hint.title.46">
      </hint>
      <hint
            className="SystemSoftware"
            file="hints/system_software.html"
            title="%hint.title.30">
      </hint>
      <hint
            className="TechnologyCollaboration"
            file="hints/technology_collaboration.html"
            title="%hint.title.97">
      </hint>
      <hint
            className="TechnologyEvent"
            file="hints/technology_event.html"
            title="%hint.title.98">
      </hint>
      <hint
            className="TechnologyFunction"
            file="hints/technology_function.html"
            title="%hint.title.29">
      </hint>
      <hint
            className="TechnologyInteraction"
            file="hints/technology_interaction.html"
            title="%hint.title.99">
      </hint>
      <hint
            className="TechnologyInterface"
            file="hints/technology_interface.html"
            title="%hint.title.25">
      </hint>
      <hint
            className="TechnologyProcess"
            file="hints/technology_process.html"
            title="%hint.title.100">
      </hint>
      <hint
            className="TechnologyService"
            file="hints/technology_service.html"
            title="%hint.title.28">
      </hint>
      <hint
            className="Value"
            file="hints/value.html"
            title="%hint.title.12">
      </hint>
      <hint
            className="ValueStream"
            file="hints/value_stream.html"
            title="%hint.title.106">
      </hint>
      <hint
            className="WorkPackage"
            file="hints/workpackage.html"
            title="%hint.title.53">
      </hint>
      <hint
            className="Resource"
            file="hints/resource.html"
            title="%hint.title.92">
      </hint>
   </extension>
   <extension
         name="Relations"
         point="com.archimatetool.help.hints">
      <hint
            className="AssignmentRelationship"
            file="hints/assignment.html"
            title="%hint.title.34">
      </hint>
      <hint
            className="FlowRelationship"
            file="hints/flow.html"
            title="%hint.title.40">
      </hint>
      <hint
            className="InfluenceRelationship"
            file="hints/influence.html"
            title="%hint.title.42">
      </hint>
      <hint
            className="RealizationRelationship"
            file="hints/realization.html"
            title="%hint.title.35">
      </hint>
      <hint
            className="ServingRelationship"
            file="hints/serving.html"
            title="%hint.title.36">
      </hint>
      <hint
            className="SpecializationRelationship"
            file="hints/specialization.html"
            title="%hint.title.41">
      </hint>
      <hint
            className="AssociationRelationship"
            file="hints/association.html"
            title="%hint.title.38">
      </hint>
      <hint
            className="CompositionRelationship"
            file="hints/composition.html"
            title="%hint.title.32">
      </hint>
      <hint
            className="TriggeringRelationship"
            file="hints/triggering.html"
            title="%hint.title.39">
      </hint>
      <hint
            className="AccessRelationship"
            file="hints/access.html"
            title="%hint.title.37">
      </hint>
      <hint
            className="AggregationRelationship"
            file="hints/aggregation.html"
            title="%hint.title.33">
      </hint>
   </extension>
   <extension
         name="Other"
         point="com.archimatetool.help.hints">
      <hint
            className="DiagramModelGroup"
            file="hints/group.html"
            title="%hint.title.57">
      </hint>
      <hint
            className="DiagramModelNote"
            file="hints/note.html"
            title="%hint.title.59">
      </hint>
      <hint
            className="DiagramModelReference"
            file="hints/view_ref.html"
            title="%hint.title.60">
      </hint>
      <hint
            className="Folder"
            file="hints/folder.html"
            title="%hint.title.61">
      </hint>
      <hint
            className="ArchimateModel"
            file="hints/model.html"
            title="%hint.title.62">
      </hint>
      <hint
            className="DiagramModelConnection"
            file="hints/connection.html"
            title="%hint.title.63">
      </hint>
      <hint
            className="SketchModel"
            file="hints/sketch.html"
            title="%hint.title.64">
      </hint>
      <hint
            className="SketchModelActor"
            file="hints/sketch_actor.html"
            title="%hint.title.65">
      </hint>
      <hint
            className="SketchModelSticky"
            file="hints/sketch_sticky.html"
            title="%hint.title.66">
      </hint>
      <hint
            className="DiagramModelImage"
            file="hints/diagram_image.html"
            title="%hint.title.67">
      </hint>
   </extension>
   <extension
         name="Viewpoints"
         point="com.archimatetool.help.hints">
      <hint
            className="ArchimateDiagramModel"
            file="hints/view.html"
            title="%hint.title.58">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_organization.html"
            key="organization"
            title="%hint.title.90">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_business_process_cooperation.html"
            key="business_process_cooperation"
            title="%hint.title.68">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_product.html"
            key="product"
            title="%hint.title.69">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_application_cooperation.html"
            key="application_cooperation"
            title="%hint.title.70">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_application_structure.html"
            key="application_structure"
            title="%hint.title.108">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_application_usage.html"
            key="application_usage"
            title="%hint.title.71">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_implementation_deployment.html"
            key="implementation_deployment"
            title="%hint.title.72">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_technology.html"
            key="technology"
            title="%hint.title.73">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_technology_usage.html"
            key="technology_usage"
            title="%hint.title.74">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_information_structure.html"
            key="information_structure"
            title="%hint.title.75">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_service_realization.html"
            key="service_realization"
            title="%hint.title.76">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_physical.html"
            key="physical"
            title="%hint.title.77">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_stakeholder.html"
            key="stakeholder"
            title="%hint.title.78">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_goal_realization.html"
            key="goal_realization"
            title="%hint.title.79">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_requirements_realization.html"
            key="requirements_realization"
            title="%hint.title.80">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_motivation.html"
            key="motivation"
            title="%hint.title.81">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_strategy.html"
            key="strategy"
            title="%hint.title.82">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_capability.html"
            key="capability"
            title="%hint.title.83">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_value_stream.html"
            key="value_stream"
            title="%hint.title.107">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_outcome_realization.html"
            key="outcome_realization"
            title="%hint.title.84">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_resource.html"
            key="resource"
            title="%hint.title.85">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_project.html"
            key="project"
            title="%hint.title.86">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_migration.html"
            key="migration"
            title="%hint.title.87">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_implementation_migration.html"
            key="implementation_migration"
            title="%hint.title.88">
      </hint>
      <hint
            className="ArchimateDiagramModel"
            file="hints/vp_layered.html"
            key="layered"
            title="%hint.title.89">
      </hint>
   </extension>

</plugin>
