<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension-point id="hints" name="Hints" schema="schema/hints.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.archimatetool.help.hints.ShowHintsViewHandler"
            id="com.archimatetool.help.command.showHintsView"
            name="%command.name">
      </command>
      <command
            defaultHandler="com.archimatetool.help.hints.ShowCheatSheetsHandler"
            id="com.archimatetool.help.command.showCheatSheets"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=show_view_end">
         <command
               commandId="com.archimatetool.help.command.showHintsView"
               icon="img/hint-16.png"
               id="com.archimatetool.help.menuitem.showHintsView"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=end">
         <command
               commandId="com.archimatetool.help.command.showHintsView"
               icon="img/hint-16.png"
               id="com.archimatetool.help.toolbaritem.showHintsView"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=additions">
         <command
               commandId="com.archimatetool.help.command.showCheatSheets"
               id="com.archimatetool.help.menuitem.showCheatSheets"
               label="%command.label.1"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.help.hints.HintsView"
            icon="img/hint-16.png"
            id="uk.ac.bolton.archimate.help.hintsView"
            name="%viewHints"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="uk.ac.bolton.archimate.help.hintsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="com.archimatetool.help.cheatsheets"
            name="Archi Cheat Sheets">
      </category>
      <cheatsheet
            category="com.archimatetool.help.cheatsheets"
            composite="false"
            contentFile="cheatsheets/new_model.xml"
            id="com.archimatetool.help.cheatsheet1"
            name="Create a New Model">
         <description>
            Create a new Model
         </description>
      </cheatsheet>
      <cheatsheet
            category="com.archimatetool.help.cheatsheets"
            composite="false"
            contentFile="cheatsheets/create_map_view.xml"
            id="com.archimatetool.help.cheatsheet2"
            name="Create a Map View">
         <description>
            Create a Map View
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="toc_resources.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <!-- Removed for now - See Bug #3010717 -->
      <!-- key
            commandId="com.archimatetool.help.action.showHintsView"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M3+4">
      </key -->
   </extension>
   <extension
         point="com.archimatetool.help.hints">
      <hint
            class="com.archimatetool.model.IBusinessActor"
            file="hints/business_actor.html"
            title="%hint.title">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessRole"
            file="hints/business_role.html"
            title="%hint.title.0">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessCollaboration"
            file="hints/business_collaboration.html"
            title="%hint.title.1">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessInterface"
            file="hints/business_interface.html"
            title="%hint.title.2">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessObject"
            file="hints/business_object.html"
            title="%hint.title.3">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessProcess"
            file="hints/business_process.html"
            title="%hint.title.4">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessActivity"
            file="hints/business_activity.html"
            title="%hint.title.5">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessFunction"
            file="hints/business_function.html"
            title="%hint.title.6">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessInteraction"
            file="hints/business_interaction.html"
            title="%hint.title.7">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessEvent"
            file="hints/business_event.html"
            title="%hint.title.8">
      </hint>
      <hint
            class="com.archimatetool.model.IBusinessService"
            file="hints/business_service.html"
            title="%hint.title.9">
      </hint>
      <hint
            class="com.archimatetool.model.IRepresentation"
            file="hints/representation.html"
            title="%hint.title.10">
      </hint>
      <hint
            class="com.archimatetool.model.IMeaning"
            file="hints/meaning.html"
            title="%hint.title.11">
      </hint>
      <hint
            class="com.archimatetool.model.IValue"
            file="hints/value.html"
            title="%hint.title.12">
      </hint>
      <hint
            class="com.archimatetool.model.IProduct"
            file="hints/product.html"
            title="%hint.title.13">
      </hint>
      <hint
            class="com.archimatetool.model.IContract"
            file="hints/contract.html"
            title="%hint.title.14">
      </hint>
      <hint
            class="com.archimatetool.model.ILocation"
            file="hints/location.html"
            title="%hint.title.15">
      </hint>
      <hint
            class="com.archimatetool.model.IApplicationComponent"
            file="hints/application_component.html"
            title="%hint.title.16">
      </hint>
      <hint
            class="com.archimatetool.model.IApplicationCollaboration"
            file="hints/application_collaboration.html"
            title="%hint.title.17">
      </hint>
      <hint
            class="com.archimatetool.model.IApplicationInterface"
            file="hints/application_interface.html"
            title="%hint.title.18">
      </hint>
      <hint
            class="com.archimatetool.model.IDataObject"
            file="hints/data_object.html"
            title="%hint.title.19">
      </hint>
      <hint
            class="com.archimatetool.model.IApplicationFunction"
            file="hints/application_function.html"
            title="%hint.title.20">
      </hint>
      <hint
            class="com.archimatetool.model.IApplicationInteraction"
            file="hints/application_interaction.html"
            title="%hint.title.21">
      </hint>
      <hint
            class="com.archimatetool.model.IApplicationService"
            file="hints/application_service.html"
            title="%hint.title.22">
      </hint>
      <hint
            class="com.archimatetool.model.INode"
            file="hints/node.html"
            title="%hint.title.23">
      </hint>
      <hint
            class="com.archimatetool.model.IDevice"
            file="hints/device.html"
            title="%hint.title.24">
      </hint>
      <hint
            class="com.archimatetool.model.IInfrastructureInterface"
            file="hints/infrastructure_interface.html"
            title="%hint.title.25">
      </hint>
      <hint
            class="com.archimatetool.model.INetwork"
            file="hints/network.html"
            title="%hint.title.26">
      </hint>
      <hint
            class="com.archimatetool.model.ICommunicationPath"
            file="hints/communication_path.html"
            title="%hint.title.27">
      </hint>
      <hint
            class="com.archimatetool.model.IInfrastructureService"
            file="hints/infrastructure_service.html"
            title="%hint.title.28">
      </hint>
      <hint
            class="com.archimatetool.model.IInfrastructureFunction"
            file="hints/infrastructure_function.html"
            title="%hint.title.29">
      </hint>
      <hint
            class="com.archimatetool.model.ISystemSoftware"
            file="hints/system_software.html"
            title="%hint.title.30">
      </hint>
      <hint
            class="com.archimatetool.model.IArtifact"
            file="hints/artifact.html"
            title="%hint.title.31">
      </hint>
      <hint
            class="com.archimatetool.model.ICompositionRelationship"
            file="hints/composition.html"
            title="%hint.title.32">
      </hint>
      <hint
            class="com.archimatetool.model.IAggregationRelationship"
            file="hints/aggregation.html"
            title="%hint.title.33">
      </hint>
      <hint
            class="com.archimatetool.model.IAssignmentRelationship"
            file="hints/assignment.html"
            title="%hint.title.34">
      </hint>
      <hint
            class="com.archimatetool.model.IRealisationRelationship"
            file="hints/realisation.html"
            title="%hint.title.35">
      </hint>
      <hint
            class="com.archimatetool.model.IUsedByRelationship"
            file="hints/used_by.html"
            title="%hint.title.36">
      </hint>
      <hint
            class="com.archimatetool.model.IAccessRelationship"
            file="hints/access.html"
            title="%hint.title.37">
      </hint>
      <hint
            class="com.archimatetool.model.IAssociationRelationship"
            file="hints/association.html"
            title="%hint.title.38">
      </hint>
      <hint
            class="com.archimatetool.model.ITriggeringRelationship"
            file="hints/triggering.html"
            title="%hint.title.39">
      </hint>
      <hint
            class="com.archimatetool.model.IFlowRelationship"
            file="hints/flow.html"
            title="%hint.title.40">
      </hint>
      <hint
            class="com.archimatetool.model.ISpecialisationRelationship"
            file="hints/specialisation.html"
            title="%hint.title.41">
      </hint>
      <hint
            class="com.archimatetool.model.IInfluenceRelationship"
            file="hints/influence.html"
            title="%hint.title.42">
      </hint>
      <hint
            class="com.archimatetool.model.IJunction"
            file="hints/junction.html"
            title="%hint.title.43">
      </hint>
      <hint
            class="com.archimatetool.model.IAndJunction"
            file="hints/and_junction.html"
            title="%hint.title.44">
      </hint>
      <hint
            class="com.archimatetool.model.IOrJunction"
            file="hints/or_junction.html"
            title="%hint.title.45">
      </hint>
      <hint
            class="com.archimatetool.model.IStakeholder"
            file="hints/stakeholder.html"
            title="%hint.title.46">
      </hint>
      <hint
            class="com.archimatetool.model.IDriver"
            file="hints/driver.html"
            title="%hint.title.47">
      </hint>
      <hint
            class="com.archimatetool.model.IAssessment"
            file="hints/assessment.html"
            title="%hint.title.48">
      </hint>
      <hint
            class="com.archimatetool.model.IGoal"
            file="hints/goal.html"
            title="%hint.title.49">
      </hint>
      <hint
            class="com.archimatetool.model.IRequirement"
            file="hints/requirement.html"
            title="%hint.title.50">
      </hint>
      <hint
            class="com.archimatetool.model.IConstraint"
            file="hints/constraint.html"
            title="%hint.title.51">
      </hint>
      <hint
            class="com.archimatetool.model.IPrinciple"
            file="hints/principle.html"
            title="%hint.title.52">
      </hint>
      <hint
            class="com.archimatetool.model.IWorkPackage"
            file="hints/workpackage.html"
            title="%hint.title.53">
      </hint>
      <hint
            class="com.archimatetool.model.IDeliverable"
            file="hints/deliverable.html"
            title="%hint.title.54">
      </hint>
      <hint
            class="com.archimatetool.model.IPlateau"
            file="hints/plateau.html"
            title="%hint.title.55">
      </hint>
      <hint
            class="com.archimatetool.model.IGap"
            file="hints/gap.html"
            title="%hint.title.56">
      </hint>
   </extension>
   <extension
         point="com.archimatetool.help.hints">
      <hint
            class="com.archimatetool.model.IDiagramModelGroup"
            file="hints/group.html"
            title="%hint.title.57">
      </hint>
      <hint
            class="com.archimatetool.model.IDiagramModel"
            file="hints/view.html"
            title="%hint.title.58">
      </hint>
      <hint
            class="com.archimatetool.model.IDiagramModelNote"
            file="hints/note.html"
            title="%hint.title.59">
      </hint>
      <hint
            class="com.archimatetool.model.IDiagramModelReference"
            file="hints/view_ref.html"
            title="%hint.title.60">
      </hint>
      <hint
            class="com.archimatetool.model.IFolder"
            file="hints/folder.html"
            title="%hint.title.61">
      </hint>
      <hint
            class="com.archimatetool.model.IArchimateModel"
            file="hints/model.html"
            title="%hint.title.62">
      </hint>
      <hint
            class="com.archimatetool.model.IDiagramModelConnection"
            file="hints/connection.html"
            title="%hint.title.63">
      </hint>
      <hint
            class="com.archimatetool.model.ISketchModel"
            file="hints/sketch.html"
            title="%hint.title.64">
      </hint>
      <hint
            class="com.archimatetool.model.ISketchModelActor"
            file="hints/sketch_actor.html"
            title="%hint.title.65">
      </hint>
      <hint
            class="com.archimatetool.model.ISketchModelSticky"
            file="hints/sketch_sticky.html"
            title="%hint.title.66">
      </hint>
      <hint
            class="com.archimatetool.model.IDiagramModelImage"
            file="hints/diagram_image.html"
            title="%hint.title.67">
      </hint>
   </extension>
   <extension
         point="com.archimatetool.help.hints">
      <hint
            class="com.archimatetool.editor.model.viewpoints.ActorCooperationViewpoint"
            file="hints/viewpoint_actorcooperation.html"
            title="%hint.title.68">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.ApplicationBehaviourViewpoint"
            file="hints/viewpoint_applicationbehaviour.html"
            title="%hint.title.69">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.ApplicationCooperationViewpoint"
            file="hints/viewpoint_applicationcooperation.html"
            title="%hint.title.70">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.ApplicationStructureViewpoint"
            file="hints/viewpoint_applicationstructure.html"
            title="%hint.title.71">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.ApplicationUsageViewpoint"
            file="hints/viewpoint_applicationusage.html"
            title="%hint.title.72">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.BusinessFunctionViewpoint"
            file="hints/viewpoint_businessfunction.html"
            title="%hint.title.73">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.BusinessProcessViewpoint"
            file="hints/viewpoint_businessprocess.html"
            title="%hint.title.74">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.BusinessProcessCooperationViewpoint"
            file="hints/viewpoint_businessprocesscoop.html"
            title="%hint.title.75">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.BusinessProductViewpoint"
            file="hints/viewpoint_businessproduct.html"
            title="%hint.title.76">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.GoalContributionViewpoint"
            file="hints/viewpoint_goalcontribution.html"
            title="%hint.title.77">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.GoalRealisationViewpoint"
            file="hints/viewpoint_goalrealisation.html"
            title="%hint.title.78">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.ImplementationAndDeploymentViewpoint"
            file="hints/viewpoint_impldeploy.html"
            title="%hint.title.79">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.ImplementationMigrationViewpoint"
            file="hints/viewpoint_implmigration.html"
            title="%hint.title.80">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.InformationStructureViewpoint"
            file="hints/viewpoint_infostructure.html"
            title="%hint.title.81">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.InfrastructureViewpoint"
            file="hints/viewpoint_infra.html"
            title="%hint.title.82">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.InfrastructureUsageViewpoint"
            file="hints/viewpoint_infrausage.html"
            title="%hint.title.83">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.LayeredViewpoint"
            file="hints/viewpoint_layered.html"
            title="%hint.title.84">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.MigrationViewpoint"
            file="hints/viewpoint_migration.html"
            title="%hint.title.85">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.MotivationViewpoint"
            file="hints/viewpoint_motivation.html"
            title="%hint.title.86">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.OrganisationViewpoint"
            file="hints/viewpoint_organisation.html"
            title="%hint.title.87">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.PrinciplesViewpoint"
            file="hints/viewpoint_principles.html"
            title="%hint.title.88">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.ProjectViewpoint"
            file="hints/viewpoint_project.html"
            title="%hint.title.89">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.RequirementsRealisationViewpoint"
            file="hints/viewpoint_requirementsrealisation.html"
            title="%hint.title.90">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.ServiceRealisationViewpoint"
            file="hints/viewpoint_servicereal.html"
            title="%hint.title.91">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.StakeholderViewpoint"
            file="hints/viewpoint_stakeholder.html"
            title="%hint.title.92">
      </hint>
      <hint
            class="com.archimatetool.editor.model.viewpoints.TotalViewpoint"
            file="hints/viewpoint_total.html"
            title="%hint.title.93">
      </hint>
   </extension>

</plugin>
