/*******************************************************************************
 * Styling for very basic theme
 *******************************************************************************/

@import url("platform:/plugin/com.archimatetool.editor.themes/themes/archi/css/common/archi-globalstyle.css");

.MTrimmedWindow {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.MPartStack {
    swt-simple: true; /* not curved tabs */
    padding: 0px;
}

TabbedPropertyTitle > CLabel {
    color: #505050;
}

TabbedPropertyTitle {
    swt-backgroundGradientStart-color:  #eaeaea;
    swt-backgroundGradientEnd-color:    #eaeaea;
    swt-backgroundBottomKeyline1-color: #eaeaea;
    swt-backgroundBottomKeyline2-color: #eaeaea;
}
