<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.bolton.archimate.editor.exportHandler">
      <exportHandler
            class="uk.ac.bolton.archimate.example.MyExporter"
            id="uk.ac.bolton.archimate.import_export_example.exportHandler"
            label="Model To My Format...">
      </exportHandler>
   </extension>
   <extension
         point="uk.ac.bolton.archimate.editor.importHandler">
      <importHandler
            class="uk.ac.bolton.archimate.example.MyImporter"
            id="uk.ac.bolton.archimate.import_export_example.importHandler"
            label="My Model...">
      </importHandler>
   </extension>

</plugin>
